<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content galacticbackground">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-warning" id="staticBackdropLabel">Datos Personales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        




<!-- Formulario -->
            <form
             class="form-control redbackground"
             [formGroup]="editarPersForm"
             (ngSubmit)="editarPersona(editarPersForm.value)"
             id="form-edit"
            >
            <h4 class="redglow text-warning">Editar Datos Personales.</h4>
            <b class="text-warning">Nombre:</b>
              <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i></i></span> -->
                <input 
                type="text" 
                class="form-control" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default"
                id="nombre"
                formControlName="nombre"
                placeholder="Nombre"
                >
              </div>
              <b class="text-warning">Apellido:</b>
              <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i></i></span> -->
                <input 
                type="text" 
                class="form-control" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default"
                id="apellido"
                formControlName="apellido"
                placeholder="Apellido"
                >
              </div>
              <b class="text-warning">Apodo:</b>
              <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i></i></span> -->
                <input 
                type="text" 
                class="form-control" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default"
                id="apodo"
                formControlName="apodo"
                placeholder="Apodo"
                >
              </div>
              <b class="text-warning">URL imagen:</b>
              <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i></i></span> -->
                <input 
                type="text" 
                class="form-control" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default"
                id="img"
                formControlName="img"
                placeholder="../../../assets/images/ejemplo.jpg"
                >
              </div>
              <b class="text-warning">Acerca de mi:</b>
              <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i></i></span> -->
                <textarea 
                id="abouttextedit"
                type="text" 
                class="form-control" 
                aria-label="With textarea" 
                aria-describedby="inputGroup-sizing-default"
                formControlName="abouttext"
                placeholder="Acerca de mi"
                >
                </textarea>
              </div>
              <b class="text-warning">Seniority</b>
              <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i></i></span> -->
                <input 
                type="text" 
                class="form-control" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default"
                id="seniority"
                formControlName="seniority"
                placeholder="Seniority"
                >
              </div>
              <br>
              <div
              class="d-grid gap-2"
              >
              <button
              (click)="backPorfolio()"
              type="submit"
              class="btn btn-warning"
              >
                <b>Guardar cambios</b>
              </button>
              </div>
        </form>

        






        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ><a class="link-warning" href="portfolioedit">Cerrar</a></button>
        </div>
      </div>
    </div>
  </div>