<div id="aboutme">
    <div class="position-relative">
      <div class="position-absolute top-70 start-0 translate-middle-y"><img id="perfilphoto" src={{persona.img}} class="rounded-circle border border-warning border-4 img-fluid shadow-lg" alt="Foto de perfil">
      </div>
    </div>
    <div id="abouttext">
      <h1 id="nombre" class="text-danger redglow ">{{persona.nombre}} {{persona.apellido}}</h1>
      <p class="text-danger fw-bold fs-5 ">{{persona.seniority}}</p>
      <p class="text-warning fw-bold fs-5">{{persona.abouttext}}</p>
      <p><a class="btn btn-danger fw-bold" href="#">Contacta a {{persona.apodo}}! »</a></p>
    </div>
  </div>