<div id="experiences" class="container-flex">
    <h1 class="text-danger display-3 redglow subheaders">EXPERIENCIAS LABORALES</h1>
    <div class="row"> 
    <div class="col-4 bg-dark text-danger">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Panaderia</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Atención al cliente</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Cajero</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Logistica</a>
      </div>
    </div>
    <div class="col-8 bg-dark text-danger">
      <div class="tab-content " id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Me desempeñé como repartidor en una panadería del pueblo de donde vengo, fue mi primer trabajo. Desde Enero de 2014 a Marzo de 2014</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Trabajé en el rubro de la atención telefónica de clientes. Mi función era gestionar los reclamos del cliente y poder brindarle una solución. Me perfeccioné en habilidades blandas de comunicación y gestión de procesos. Desde Mayo 2014 hasta Septiembre 2018.</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">En este trabajo tenía que realizar la gestión operativa de una playa de estacionamiento. Mi función era cobrarle a los clientes, mantenimiento de la playa y ordenamiento del espacio disponible para vehiculos. Desde Febrero de 2019 hasta Octubre de 2019.</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Mi función es el traslado de diferentes mercancias, perecederas y no perecederas desde diferentes puntos. Presto servicios para empresas como Rappi y PedidosYa. Comencé en Enero de 2020 y actualmente me sigo desempeñamdo en la actividad.</div>
      </div>
    </div>
  </div>
 </div>
