<div id="skills" class="container-flex">
  <div class="row align-items-center">
    <div class="col-sm-8">
      <h1 class="text-danger display-3 redglow subheaders">HARD & SOFT SKILLS</h1>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-danger" (click)="addHaSkill()" id="botonedit"><b class="text-warning">Agregar
        Hardskill</b>
      </button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-danger" (click)="addSoSkill()" id="botonedit"><b class="text-warning">Agregar
        Softskill</b>
      </button>
    </div>
  </div>

  <app-hardskills-items *ngFor="let hardskill of miHardskill" [hardskill]="hardskill"
  (borrarHardskillPass)="eliminarHaSkill(hardskill)">></app-hardskills-items>


  <app-skills-items *ngFor="let softskill of miSoftskill" [softskill]="softskill"
  (borrarSoftskillPass)="eliminarSoSkill(softskill)">></app-skills-items>

</div>
